:root {
    --black: #000;
    --border-black: hsl(0, 0%, 13%);
    --white: white;
    --purple: #9013FE;
    --nav: 20rem;
    --color-base: #888888;
    --nav-width: 30rem;
    --color-disabled: #888888;
    --spacer-element: 8rem;
    --color-error: #dc3232
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    scroll-behavior: smooth;

}

body {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--purple);
    opacity: .9;
    transition: all .15s ease-in-out;
}
a:hover {
    opacity: 1;
}

li {
    list-style: none;
}