#main {
    display: flex;
    position: relative;
    transition: padding-left .5s ease-in-out;
}

.content {
    height: 200vh;
    width: 100%;
    color: var(--white);
    background-color: var(--black);
    position: relative;
}
.content::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(225, 225, 225, .6);
    transition: linear .5s ease-in-out;
    z-index: -1;
    opacity: 0;
}
.content.show::before {
    opacity: 1;
    z-index: 999;
}
#myBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: .5rem;
    background-image: linear-gradient(to left, var(--purple), var(--black));
    z-index: 9999;
    transition: ease-in-out linear 5s;
    border-radius: .3rem;
}