.work-item {
    padding-left: 5rem;
    border-left: .2rem solid var(--purple);
    position: relative;

}

.work-item::before {
    content: "";
    position: absolute;
    top: -.5rem;
    left: -.6rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--purple);

}

.year-work {
    color: #999;
    font-size: 1.4rem;
}

.name-company {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2rem 0;
}

.worked-it, .worked-it-detail {
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: var(--color-base);
    padding-top: 1.5rem;
    display: block;
}

.worked-it:first-child {
    padding-top: inherit !important;
}

.title-work {
    padding-top: 1.5rem;
    font-weight: bold;
    line-height: 2.4rem;
    font-size: 1.6rem;
    text-decoration: underline
}

.pl-2 {
    padding-left: .8rem;
}

.pl-8 {
    padding-left: 3.2rem;

}
.pt-8 {
    padding-top: 3.2rem;
}
.mb-8 {
    margin-bottom: 3.2rem;
}

.work-list .work-detail{
    list-style: circle !important;
}  

.work-heading {}



.heading-work-detail {
    padding-top: 1.5rem;
    font-weight: bold;
    line-height: 2.4rem;
    font-size: 1.6rem;
}
.heading-work-detail-child {
    padding-top: 1rem;
    line-height: 2.4rem;
    font-size: 1.6rem;
    min-width: 8.5rem;
}
.worked-it-detail {
    padding-top: 1rem;
}